.task1 {
  padding: 50px 20px ;
  border: 1px solid rgba(163, 163, 163, 0.973);
}
.task2 {
  padding: 60px 50px ;
  border: 1px solid rgb(21, 211, 21);
}
.useStateHook {
  padding: 20px 10px ;
  border: 1px solid grey;
}
.useEffectHook {
  padding: 20px 10px ;
  border: 1px solid rgb(77, 74, 74);
}
.useRefHook {
  padding: 20px 10px ;
  border: 1px solid rgb(77, 74, 74);
}